<section style="margin: 2rem 2rem 10rem 2rem;">
  <div class="welcome-title__text">
    <div class="welcome-title__text--big">
      <%= night? ? 'Boa noite!' : 'Bom dia!' %>
    </div>
  </div>
  <div class="welcome-title__text">
    <div class="welcome-title__text--small">
      <p>Qualidade do dia e noite</p>
      por dia da semana
    </div>
    <canvas id="qualityChart" width="400" height="400"></canvas>
    <div class="welcome-title__text--small">
      <p>Nos últimos 7 dias (dias sem registro são desconsiderados)</p>
      <% days_quality = @json[:day_quality] - [0] %>
      <% nights_quality = @json[:night_quality] - [0] %>
      <p>A qualidade média dos seus dias foi <%= days_quality.sum/days_quality.size %></p>
      <p>A qualidade média das suas noites foi <%= nights_quality.sum/nights_quality.size %></p>
    </div>
    <br/>
    <div class="welcome-title__text--small">
      <p>Qualidade do dia e noite</p>
      por dia da semana
    </div>
    <br/>
    <div class="welcome-title__text--small">
      <p>Tempo &times; qualidade de sono &times; qualidade de dia</p>
      por dia da semana
    </div>
    <canvas id="sleepChart" width="400" height="400"></canvas>
    <div class="welcome-title__text--small">
      <p>Nos últimos 7 dias (dias sem registro são desconsiderados)</p>
      <% sleep_time = @json[:sleep_time] - [0] %>
      <% sleep_time_avg = sleep_time.sum/sleep_time.size %>
      <p>O tempo médio do seu sono foi <%= sleep_time_avg %></p>
      <p>
        A OMS recomenda um tempo de sono entre 7 a 9 horas, seu sono está
        <% if sleep_time_avg > 9 %>
          acima
        <% elsif sleep_time_avg < 7 %>
          abaixo
        <% else %>
          dentro
        <% end %>
        do tempo recomendado.
      </p>
    </div>

  </div>
  <script>
      let json = <%= @json.to_json.html_safe %>;
      let qchart = document.getElementById('qualityChart');
      let schart = document.getElementById('sleepChart');
      let qualityChart = new Chart(qchart, {
          type: 'bar',
          data: {
              labels: json.labels,
              datasets: [{
                  label: 'Noite',
                  data: json.nights,
                  backgroundColor: 'rgba(54, 162, 235, 0.2)',
                  borderColor: 'rgba(54, 162, 235, 1)',
                  borderWidth: 1
              },
              {
                  label: 'Dia',
                  data: json.days,
                  backgroundColor: 'rgba(255, 99, 132, 0.2)',
                  borderColor: 'rgba(255, 99, 132, 1)',
                  borderWidth: 1
              },
              {
                  label: 'Média',
                  data: json.average_quality,
                  borderColor: 'rgba(75, 192, 192, 1)',
                  backgroundColor: 'rgba(75, 192, 192, 0.2)',
                  borderWidth: 0.5,
                  type: 'line',
              }]
          },
          options: {
              scales: {
                  yAxes: [{
                      ticks: {
                          beginAtZero: true,
                          stepSize: 1
                      }
                  }]
              }
          }
      });

      let sleepChart = new Chart(schart, {
          type: 'bar',
          data: {
              labels: json.labels,
              datasets: [{
                  label: 'Duração',
                  data: json.sleep_time,
                  backgroundColor: 'rgba(54, 162, 235, 0.2)',
                  borderColor: 'rgba(54, 162, 235, 1)',
                  borderWidth: 1
              },
              {
                  label: 'Qualidade de Sono',
                  data: json.night_quality,
                  borderColor: 'rgba(75, 192, 192, 1)',
                  backgroundColor: 'rgba(75, 192, 192, 0.2)',
                  borderWidth: 0.5,
                  type: 'line',
              },
              {
                  label: 'Qualidade do Dia',
                  data: json.day_quality,
                  borderColor: 'rgb(192,37,34)',
                  backgroundColor: 'rgba(192,43,36,0.2)',
                  borderWidth: 0.5,
                  type: 'line',
              }]
          },
          options: {
              scales: {
                  yAxes: [{
                      ticks: {
                          beginAtZero: true,
                          stepSize: 1
                      }
                  }]
              }
          }
      });
  </script>
  <div class="fixed-action-btn" style="bottom: 86px;">
    <%- if night? %>
      <%= link_to new_day_path, class: 'btn-floating btn-large waves-effect waves-light blue darken-4 accent-4' do %>
        <i class="large material-icons">add</i>
      <% end %>
    <% else %>
      <%= link_to new_night_path, class: 'btn-floating btn-large waves-effect waves-light deep-orange accent-4' do %>
        <i class="large material-icons">add</i>
      <% end %>
    <% end %>
  </div>
</section>
