<section style="margin: 2rem 2rem 10rem 2rem;">
  <div class="welcome-title__text">
    <div class="welcome-title__text--big">
      <%= night? ? 'Boa noite!' : 'Bom dia!' %>
    </div>
  </div>

  <div class="welcome-title__text">
    <%= render 'day_night_quality' %>
    <br/>
    <%= render 'sleep_quality' %>
  </div>
    <div data-day-quality=<%= @json.to_json.html_safe %> id='day-quality'></div>

  <script>
      let json = <%= @json.to_json.html_safe %>;
      let qchart = document.getElementById('qualityChart');
      let schart = document.getElementById('sleepChart');
      let qualityChart = new Chart(qchart, {
        type: 'bar',
        data: {
          labels: json.labels,
          datasets: [
          // {
          //   label: 'Noite',
          //   data: json.nights,
          //   backgroundColor: 'rgba(54, 162, 235, 0.2)',
          //   borderColor: 'rgba(54, 162, 235, 1)',
          //   borderWidth: 0.2,

          // }, {
          //   label: 'Dia',
          //   data: json.days,
          //   backgroundColor: 'rgba(255, 99, 132, 0.2)',
          //   borderColor: 'rgba(255, 99, 132, 1)',
          //   borderWidth: 0.2,

          // },
          {
            label: 'Média',
            data: json.average_quality,
            borderColor: 'rgba(75, 192, 192, 1)',
            backgroundColor: 'rgba(75, 192, 192, 0.7)',
            borderWidth: 0.5,
            type: 'line',
          }]
        },
        options: {
          scales: {
            y: {
              ticks: {
                beginAtZero: true,
                stepSize: 1,
                font: {
                  size: '18'
                },
                callback: function(label, index, labels) {
                  switch (label) {
                    case 0:
                      return '';
                    case 1:
                      return '😞';
                    case 2:
                      return '😕';
                    case 3:
                      return '🙂';
                    case 4:
                      return '😁';
                    case 5:
                      return '🥳';
                  }
                }
              }
            }
          },
          plugins: {
            annotation: {
              annotations: [{
                type: 'box',
                drawTime: 'beforeDatasetsDraw',
                yMin: 0,
                yMax: 1,
                borderWidth: 0,
                backgroundColor: 'rgba(255, 105, 105, 0.3)'
              }, {
                type: 'box',
                drawTime: 'beforeDatasetsDraw',
                yMin: 1,
                yMax: 2,
                borderWidth: 0,
                backgroundColor: 'rgba(255, 149, 79, 0.3)'
              }, {
                type: 'box',
                drawTime: 'beforeDatasetsDraw',
                yMin: 2,
                yMax: 3,
                borderWidth: 0,
                backgroundColor: 'rgba(255, 215, 94, 0.3)'
              }, {
                type: 'box',
                drawTime: 'beforeDatasetsDraw',
                yMin: 3,
                yMax: 4,
                borderWidth: 0,
                backgroundColor: 'rgba(203, 255, 107, 0.3)'
              }, {
                type: 'box',
                drawTime: 'beforeDatasetsDraw',
                yMin: 4,
                yMax: 5,
                borderWidth: 0,
                backgroundColor: 'rgba(92, 255, 97, 0.3)'
              }]
            }
          }
        }
      });

      let sleepChart = new Chart(schart, {
          type: 'bar',
          data: {
              labels: json.labels,
              datasets: [{
                  label: 'Duração',
                  data: json.sleep_time,
                  backgroundColor: 'rgba(54, 162, 235, 0.2)',
                  borderColor: 'rgba(54, 162, 235, 1)',
                  borderWidth: 1
              },
              // {
              //     label: 'Qualidade de Sono',
              //     data: json.night_quality,
              //     borderColor: 'rgba(75, 192, 192, 1)',
              //     backgroundColor: 'rgba(75, 192, 192, 0.2)',
              //     borderWidth: 0.5,
              //     type: 'line',
              // },
              // {
              //     label: 'Qualidade do Dia',
              //     data: json.day_quality,
              //     borderColor: 'rgb(192,37,34)',
              //     backgroundColor: 'rgba(192,43,36,0.2)',
              //     borderWidth: 0.5,
              //     type: 'line',
              // }
              ]
          },
          options: {
              scales: {
                  y: {
                      ticks: {
                          beginAtZero: true,
                          stepSize: 1
                      }
                  }
              },
              plugins: {
                 annotation: {
                    annotations: [
                        {
                            type: 'box',
                            drawTime: 'beforeDatasetsDraw',
                            yMin: 0,
                            yMax: 6,
                            borderWidth: 0,
                            backgroundColor: 'rgba(255, 105, 105, 0.3)'
                        },
                        {
                            type: 'box',
                            drawTime: 'beforeDatasetsDraw',
                            yMin: 6,
                            yMax: 9,
                            borderWidth: 0,
                            backgroundColor: 'rgba(92, 255, 97, 0.3)'
                        },
                        {
                            type: 'box',
                            drawTime: 'beforeDatasetsDraw',
                            yMin: 9,
                            yMax: 12,
                            borderWidth: 0,
                            backgroundColor: 'rgba(255, 215, 94, 0.3)'
                        }
                    ]
                }
              }
          }
      });
  </script>
  <div class="fixed-action-btn" style="bottom: 86px;">
    <%- if night? %>
      <%= link_to new_day_path, class: 'btn-floating btn-large waves-effect waves-light blue darken-4 accent-4' do %>
        <i class="large material-icons">add</i>
      <% end %>
    <% else %>
      <%= link_to new_night_path, class: 'btn-floating btn-large waves-effect waves-light deep-orange accent-4' do %>
        <i class="large material-icons">add</i>
      <% end %>
    <% end %>
  </div>
</section>
