<section class="sessions-page">
  <div class="welcome-title__text">
    <div class="welcome-title__text--big">Junte-se</div>
    <div class="welcome-title__text--small">e comece a utilizar gratuitamente.</div>
  </div>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <div class="input-field">
      <%= f.text_field :username, autocomplete: "username", class: 'validate' %>
      <%= f.label :username, 'Nome de usuário' %>
    </div>

    <div class="input-field">
      <%= f.password_field :password, autocomplete: "new-password" %>
      <%= f.label :password, 'Senha (mínimo de 8 caracteres)' %>
    </div>

    <div class="input-field">
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      <%= f.label :password_confirmation, 'Confirme sua senha' %>
    </div>

    <div class="sessions-page__actions">
      <%= f.button type: 'submit', class: 'btn waves-effect waves-light' do %>
        Criar conta
        <i class="material-icons right">send</i>
      <% end %>
    </div>
    </div>
  <% end %>

  <% flash.each do |key, value| %>
    <%= content_tag :div, value, class: "flash #{key}" %>
  <% end %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="sessions-page__register">
    <%= render "devise/shared/links" %>
  </div>
</section>