<p id="notice"><%= notice %></p>

<h1>Nights</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @nights.each do |night| %>
      <tr>
        <td><%= link_to 'Show', night %></td>
        <td><%= link_to 'Edit', edit_night_path(night) %></td>
        <td><%= link_to 'Destroy', night, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Night', new_night_path %>
