<%= form_with(model: day, local: true) do |form| %>
  <p class="hour-label">
    Que nota você daria para o seu dia?
  </p>
  <div class="text-center">
    <% (1..5).each do |i| %>
      <label style="display: inline-block">
        <%= form.radio_button("quality", i, { class: 'with-gap' }) %>
        <span><%= i %></span>
      </label>
    <% end %>
  </div>

  <div class="input-field row">
    <div class="hour-label col s9">Eu fiz algo novo ou diferente?</div>
    <div class="col s3">
      <%= select_tag :different, options_for_select({ "não": false, "sim": true }), style: 'color: white' %>
    </div>
  </div>

  <div class="input-field row">
    <div class="hour-label col s9">Eu me exercitei?</div>
    <div class="col s3">
      <%= select_tag :exercised, options_for_select({ "não": false, "sim": true }), style: 'color: white' %>
    </div>
  </div>

  <div class="input-field row">
    <div class="hour-label col s9">Eu estou doente?</div>
    <div class="col s3">
      <%= select_tag :ill, options_for_select({ "não": false, "sim": true }), style: 'color: white' %>
    </div>
  </div>

  <div class="field">
    <%= form.label :description, "Gostaria de registrar algo sobre hoje?" %>
    <%= form.text_area :description, class: 'materialize-textarea' %>
  </div>

  <div class="fixed-action-btn" style="bottom: 86px;">
    <%= form.button type: 'submit', class: 'btn-floating btn-large waves-effect waves-light deep-orange accent-4' do %>
      <i class="large material-icons">add</i>
    <% end %>
  </div>
<% end %>
