<section class="sessions-page">
  <div class="welcome-title__text">
    <div class="welcome-title__text--small">Boas vindas ao</div>
    <div class="welcome-title__text--big">Hypnos</div>
  </div>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="input-field">
      <%= f.text_field :username, autocomplete: "username", class: 'validate' %>
      <%= f.label :username, 'Nome de usuário' %>
    </div>

    <div class="input-field">
      <%= f.password_field :password, autocomplete: "current-password", class: 'validate' %>
      <%= f.label :password, 'Senha' %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end %>

    <div class="sessions-page__actions">
      <%= f.button type: 'submit', class: 'btn waves-effect waves-light' do %>
        Entrar
        <i class="material-icons right">send</i>
      <% end %>
    </div>
  <% end %>

  <div class="sessions-page__register">
    <%= render "devise/shared/links" %>
  </div>
</section>